.contentShopping {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    left: 1rem;
    padding: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    max-width: 80%;
    text-align: left;
}

span .name{
    color: black;
    font-size: 1rem;
    text-align: left;
}
.item {
    position: relative;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .image {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
    top: 1rem;
    left: -9rem;
}
.item .image img{
    width: 4rem;

}
.item .productprice{
    position: relative;
    left: -5rem;
    top: 2rem;
    font-size: 1rem;
}
.item .name{
    position: relative;
    top: -1.9rem;
    color: black;
    font-size: 0.8rem;
}

hr {
    width: 100%;
}

.product {
    width: 100%;
    padding: 0.5rem;
}

.additional {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_one {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.box_two {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

.imageAdditonal {
    width: 25%;
}

.imgBatata, .imgLingui, .imgBacon, .imgCostelinha, .imgFarofa {
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    border-radius: 0.3rem;
}

.imgBatata {
    background-image: url('../assets/batataassada.jpg');
}
.imgLingui {
    background-image: url('../assets/linguiça.jpg');
}
.imgBacon {
    background-image: url('../assets/bacon.jpg');
}
.imgCostelinha {
    background-image: url('../assets/costelinha.jpg');
}
.imgFarofa {
    background-image: url('../assets/farofa.jpg');
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.downButton, .upButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 85, 85);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.number{
    position: relative;
    left: 0.2rem;
}

.upButton {
    background-color: rgb(91, 115, 247);
    left: 0.5rem;
}

.observations {
    padding: 0.5rem;
}

textarea {
    width: 90%;
    border-radius: 0.5rem;
    position: relative;
    top: 0.5rem;
    padding: 1rem;
    z-index: 1000;
}

.advanceButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: brown;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;   
    

}

.advanceButton:hover {
    background-color: rgb(253, 90, 90);
}

@media screen and (min-width: 1025px) {
    .contentShopping {
        top: 13rem;
        left: 45rem;
        font-size: 1rem;
    }

    .product, .additional, .observations {
        width: 100%;
    }

    .box {
        width: 200%;
    }

    .box_one, .box_two {
        width: 100%;
    }

    textarea {
        width: 180%;
    }
    hr{
        width: 200%;
    }
    .advanceButton {
        position: relative;
        left: 0.5rem;
        width: 180%;
       

    }
}
