/* Correção Global para evitar rolagem horizontal desnecessária */
body {
    overflow-x: hidden; /* Garante que não haja rolagem horizontal no body */
}
.App {
  text-align: center;
}



.App-header {
  max-width: 400px;
  width: 100%;
  margin: 2rem auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}


.name_list .name {
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 2rem; 
  margin-left: 1rem; 
  text-align: left;
  color: red;
}


.all_product {
  width: 95%; 
  margin: 0 auto; 
  padding-top: 1rem;
}

.intens {
  display: flex;
  flex-direction: column; 
  gap: 1.5rem; 
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.products {
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(186, 186, 186, 0.485);
  background-color: rgb(143, 24, 24);
  width: 100%; 
  min-height: 8rem; 
 
  padding: 0.5rem;
  box-sizing: border-box;
}


.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  padding-right: 1rem;
}

.discrition {
  position: relative;
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.2rem;
}

.price {
  position: relative;
  font-size: 1.1rem;
  color: chocolate;
  font-weight: 800;
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 165, 40);
  width: 7rem; 
  min-width: 7rem; 
  height: 7rem;
  border-radius: 1rem;
  margin-left: auto; 
}

.image img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 1rem;
}


.add_shopping {
  width: 2rem; 
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background-color: rgb(248, 84, 84);
  cursor: pointer;
}

.add_shopping:hover {
  background-color: rgb(192, 55, 55);
}

.add_shopping img {
  width: 1rem;
  height: 1rem;
}


.product-action {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 1025px) {
  .App-header {
    background-color: #f8f8f8;
    max-width: 1200px;
  }

  
  .name_list .name {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center; 
    margin-left: 0;
  }

  
  .intens {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
  }


  .products {
    border: 0.3rem solid rgb(186, 186, 186);
    padding: 0.8rem;
    width: 100%; 
    min-height: 10rem;
    display: flex;
    flex-direction: row; 
    align-items: center;
  }

  .product-info {
    flex-grow: 1;
  }

  .discrition {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1.8rem;
  }

 
  .product-action {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 0.5rem;
  }

  .image {
    width: 6rem;
    min-width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    
  }

  .image img {
    width: 90%;
    height: 90%;
  }

  .add_shopping {
    width: 2.5rem;
    height: 2.5rem;
  }

  .add_shopping img {
    width: 1.2rem;
  }
}