
  .App {
    text-align: center;
  }  
  
  .App-header {
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:0.8rem;
    color: rgb(0, 0, 0);
  }
  .menu{
    display: flex;
    position: fixed;
    background-color: rgb(143, 2, 2);
    width: 100%;
    top:0rem;
    z-index:100;
  }
  .logo{
    display: flex;
    position: relative;
    left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }
  .storeSlogan{
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    left: 1.88rem;
    font-weight: 700;
  }
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.894);
    border-radius: 1rem;
    position: relative;
    top: 1rem;
    left: 6rem;
    width: 1.1rem;
    height: 1.1rem;
  }
  .search img{
    width: 0.8rem;
    height: 0.8rem;
  }
  .share{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.894);
    border-radius: 1rem;
    position: relative;
    top: 1rem;
    left: 7rem;
    width: 1.1rem;
    height: 1.1rem;
  
  }
  .share img{
    width: 0.8rem;
    height: 0.8rem;
  }
  .submenu{
    display: flex;
    position: fixed;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 6%;
    font-size: 0.7rem;
    font-weight: 600;
    top: 4rem;
    background-color: rgb(254, 165, 40);
    z-index: 1000;
  }
 
  .perfil_button{
    color: red;
    font-weight: 800;
  }
  .fhatherScroll{
    position: sticky ;
    width: 100%;
    max-height: 25%;
    top: 5.5rem;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: visible; 
    
  }
  .scroll_menu {  
    width: 100%;        
    top:  0;    
    background-color:rgb(254, 165, 40);
  }
  .scroll_menu .menu_itens{
    text-align: center;    
    font-size: 0.7rem;
    font-weight: 800;
    background-color: blanchedalmond;
    border-radius: 1rem;
    
      
  }
 
  .scroll_menu .menu_itens.active{
    background-color: lightblue;
  }
  .name_list .name{
    display: flex;
    position: relative;
    top: 5.5rem;
    left:0rem;
    font-size: 1.1rem;
    font-weight: 800;
    color: red;
  }
  .hr_prime{
    display: flex;
    position: fixed;
    top:7.8rem;
    width: 90%;
  
  }
  
  .intens{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
  .products{
    display:flex;
    width: 20rem;
    height: 9rem;
    flex-direction: column;
    position: relative;
    top: 5rem;
    padding: 0.7rem;
  
  }
  .discrition{
    font-weight: 600;
  }
  .price{
    display: flex;
    position: relative;
    top:3rem;
    font-weight: 800;
  }
  .add_item{
    display: flex;    
    position: relative;
    width: 1.2rem;
    height: 1.2rem;    
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    background-color:rgb(128, 84, 248);
    left: 17rem;
  }
  .add_item img{
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    left: 0.25rem;
  }

  .add_shopping{
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    border-radius: 0.1rem;
    background-color:rgb(248, 84, 84);
    margin-left: 20rem;
    margin-top: -1.2rem;
  }
  .add_item img{
    rotate:calc(45deg);
    width:0.7rem;
  }
  span .unity{
  
    text-align: center;
    position: relative;
    top: 0.5rem;
    left: 0.2rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: red;
    border-radius: 0.5rem;
  }
  .unity{
    color: white;
    font-size: 0.5rem;
    font-weight: 700;
  }
  .add_shopping img{
    width:0.8rem;
  }
  .image{
    display: flex;
    height:6rem ;
    position: absolute;
    left: 10rem;
    background-color: #f05a5a;
    border-radius: 1rem;
  }
  .divisor_hr{
    position: relative;
    width: 100%;
    top: 3.4rem;
  
  }

  .footer{
    display: flex;
    position: relative;
    height: 3.5rem;
    width: 100%;
    background-color: #e5dfdf;
    top: 2rem;
  }
  .buy_shopping{
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.1rem;
    left: 18.5rem;
    top: 1rem
  }
  .home{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.1rem;
    left: 1.5rem;
    top: 1rem
  }
  
   