  .App {
    text-align: center;
  }  
  
  .App-header {    
    max-width: 400px;
    width: 90%; 
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    font-size:0.8rem;
    color: rgb(0, 0, 0);
  }
  
  .name_list .name{
    display: flex;
    position: relative;
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 8rem;
    text-align: left;
    color: red;
  }

  
  .intens{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    
  }
  .all_product{
    position: absolute;
    height: 5000px;
    top:0rem;
    left: 3rem;
  }
  .products{
    display:flex;
    position: relative;
    border-radius: .5rem;
    border: 0.2rem solid rgba(186, 186, 186, 0.485);
    background-color: rgb(143, 24, 24);
    width: 18rem;
    height: 8rem;
    flex-direction: column; 
  
  }
  .image{
    display: flex;
    justify-content: center;
    position: relative;
    background-color:rgb(254, 165, 40);
    width: 6rem;
    left: 11rem;
    top: -1.5rem;
    border-radius: 1rem;
  }
  .image img {
    display: flex;   
    position: relative;
    top: 0rem;
    width: 6rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .discrition{
    position: relative;
    color: #f8f8f8;
    top: 0.2rem;
    left: 1rem;
    font-size:1rem;
    font-weight: 800;
  }
  .price{
    display: flex;
    position: relative;
    top:1rem;
    left:1rem;
    font-size: 1rem;
    color: chocolate;
    font-weight: 800;
  }
  .add_item{
    position: relative;
    width: 1rem;
    height: 1rem;    
    justify-content: center;
    align-items: center;
    border-radius: 0.21rem;
    background-color:rgb(128, 84, 248);
    left: 5rem;
    top: -4rem;
    cursor: pointer;
  }
  .add_item img{
    position: relative;
    display: flex;
    top:0.5rem;
    width: 0.5rem;
    height: 1.5rem;
   
  }

  .add_shopping{
    width: 1rem;
    height: 1.8rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.2rem;
    background-color:rgb(248, 84, 84);
    left: 7rem;
    top: -5.3rem;
    cursor: pointer;
  }
  .add_item img{
    rotate:calc(45deg);
    width:0.7rem;
  }
  span .unity{
  
    text-align: center;
    position: relative;
    top: 0.3rem;
    left: 0.5rem; 
    background-color: red;
    border-radius: 0.5rem;
  }
  .unity{
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .add_shopping img{
    width:0.8rem;
  }  

  

  @media screen and (min-width:1025px) {

    .App-header {
      background-color: #f8f8f8;     
    }
  
 
    .name_list {
      height: 100vh;
      margin-top: 15rem;
      margin-bottom: -50rem;
    
    } 
    .name_list .name{
      top: 0rem;
      left:-15rem;
      font-size: 2rem;
      font-weight: 800;    
    }
   
    
    .intens{
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Duas colunas de igual largura */
      grid-template-rows: repeat(2, auto); /* Duas linhas com altura automática */
      gap: 0.5rem; /* Espaço entre os itens */
    }
    .all_product{
         
      left: 45rem;
    }
    .products{
      border: 0.3rem solid rgb(186, 186, 186);
      border-radius: 0.5rem;
      padding: 0.1rem;       
      width: 25rem;
      height: 8rem;   
      position: relative;
      left: -15rem; 
    }
    .discrition{
      font-size: 1.5rem;
      font-weight: 800;
    }
    .price{  
      font-size: 1.5rem;
      top:2rem;
      font-weight: 800;
    }
    .add_item{    
      width: 1rem;
      height: 1rem;    
      justify-content: center;
      align-items: center;
      border-radius: 0.3rem;     
      left: 20rem;
      top:-5rem;   
      cursor: pointer  
    }
    .add_item img{    
      top:0.8rem;
      left: 0rem;
    }  
    .add_shopping{
      position: relative;
      width: 1rem;
      display: flex;
      justify-content: center;
      border-radius: 0.3rem;
      top:-7rem;
      left: 23rem;  
      cursor: pointer; 
   
    }
    .add_item img{
      rotate:calc(45deg);
      width:1rem;
    }
    span .unity{
      top: 0.1rem;
      left: 1.12rem;
      width: 0.2rem;
      height: 0.3rem;    
      border-radius: 0.5rem;
    }
    .unity{    
      position: relative;
      font-size: 0.79rem;
      font-weight: 900;
    }
    .add_shopping img{
      width:1rem;
    }
    .image{
      position: relative;
      width: 6rem;
      height: 3.5rem;
      background-color:rgb(254, 165, 40);
      left: 10rem;
      top:-2rem;
      border-radius: 1rem;
    }
    .image img {
      position: relative;
      left: 0.5rem;
      width: 5rem;
      height: 8rem;
      border-radius: 1rem;
    }
   
    
    
  }
   