  .App {
    text-align: center;
  }  
  
  .App-header {    
    max-width: 400px;
    width: 90%; 
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    font-size:0.8rem;
    color: rgb(0, 0, 0);
  }
  .head{
    display: flex;
    position: fixed;
    width: 100%;  
    height: 100%;  
    z-index:100;
  }
  .menu{
    display: flex;
    position: fixed;
    background-color: rgb(143, 2, 2);
    width: 100%;    
    top:0rem;
    z-index:100;
  }
 
  .logo{
    display: flex;
    position: relative;
    left: 0.5rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }
  .storeSlogan{
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    left: 1.88rem;
    font-weight: 700;
  }
  .serch_itens{
    display: none;
    position: fixed;
    top:0.9rem;
    left:15.2rem;
    width: 20%;
    height: 3%;
    border-radius: 1.5rem;
  }
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.894);
    border-radius: 1rem;
    position: relative;
    top: 1rem;
    left: 3rem;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
  }
 
  .search img{
    width: 0.8rem;
    height: 0.8rem;
  }
  .share{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.894);
    border-radius: 1rem;
    position: relative;
    top: 1rem;
    left: 3.5rem;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
  
  }
  .share img{
    width: 0.8rem;
    height: 0.8rem;
  }
  .logof{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.894);   
    border-radius: 1rem;
    position: relative;
    top: 1rem;
    left: 6em;
    width: 1.3rem;
    height: 1.2rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 800;
  }
  .submenu{
    display: flex;
    position: fixed;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 3.7%;
    font-size: 0.7rem;
    font-weight: 600;
    top: 4rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(254, 165, 40);
    z-index: 1000;
  }
 
  .perfil_button{
    color: red;
    font-weight: 800;
    cursor: pointer;
  }
  .fhatherScroll{
    position: sticky ;
    height: 100%;
    width: 100%;
    max-height: 25%;
    top: 5.5rem;
    z-index: 10000;
    overflow-y: auto;
    overflow-x: visible; 
    
  }
  .scroll_menu {  
    width: 100%;    
    position: relative;   
    top:  0rem;    
    background-color:rgb(254, 165, 40);
  }
  .scroll_menu .menu_itens{
    text-align: center;    
    font-size: 0.7rem;
    font-weight: 800;
    background-color: blanchedalmond;
    border-radius: 1rem;
    
      
  }
 
  .scroll_menu .menu_itens.active{
    background-color: lightblue;
  }
  .name_list .name{
    display: flex;
    position: relative;
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 8rem;
    text-align: left;
    color: red;
  }

  
  .intens{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    
  }
  .all_product{
    position: absolute;
    top:0rem;
    left: 3rem;
  }
  .products{
    display:flex;
    position: relative;
    border-radius: .5rem;
    border: 0.2rem solid rgba(186, 186, 186, 0.485);
    background-color: rgb(143, 24, 24);
    width: 18rem;
    height: 8rem;
    flex-direction: column; 
  
  }
  .image{
    display: flex;
    justify-content: center;
    position: relative;
    background-color:rgb(254, 165, 40);
    width: 6rem;
    left: 11rem;
    top: -1.5rem;
    border-radius: 1rem;
  }
  .image img {
    display: flex;   
    position: relative;
    top: 0rem;
    width: 6rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .discrition{
    position: relative;
    color: #f8f8f8;
    top: 0.2rem;
    left: 1rem;
    font-size:1rem;
    font-weight: 800;
  }
  .price{
    display: flex;
    position: relative;
    top:1rem;
    left:1rem;
    font-size: 1rem;
    color: chocolate;
    font-weight: 800;
  }
  .add_item{
    position: relative;
    width: 1rem;
    height: 1rem;    
    justify-content: center;
    align-items: center;
    border-radius: 0.21rem;
    background-color:rgb(128, 84, 248);
    left: 5rem;
    top: -4rem;
    cursor: pointer;
  }
  .add_item img{
    position: relative;
    display: flex;
    top:0.5rem;
    width: 0.5rem;
    height: 1.5rem;
   
  }

  .add_shopping{
    width: 1rem;
    height: 1.8rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.2rem;
    background-color:rgb(248, 84, 84);
    left: 7rem;
    top: -5.3rem;
    cursor: pointer;
  }
  .add_item img{
    rotate:calc(45deg);
    width:0.7rem;
  }
  span .unity{
  
    text-align: center;
    position: relative;
    top: 0.3rem;
    left: 0.5rem; 
    background-color: red;
    border-radius: 0.5rem;
  }
  .unity{
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .add_shopping img{
    width:0.8rem;
  }  

  .footer{
    display: flex;
    position: fixed;
    height: 3.5rem;
    width: 100%;
    background-color: #e5dfdf;
    top: 38.2rem;
    z-index: 1000;
  }
  .buy_shopping{
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.1rem;
    left: 17.5rem;
    top: 1rem;
    cursor: pointer;
    
  }
  .home{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 0.1rem;
    left: 1.5rem;
    top: 1rem;
    cursor: pointer;
  }

    

  @media screen and (min-width:1025px) {

    .App-header {
      background-color: #f8f8f8;     
    }
  
    .menu{   
      width: 150%;
      height: 15%;
    }
    .logo{ 
      left: 15.5rem;
      width: 10rem;
      height: 10rem;
    }
    .storeSlogan{ 
      font-size: 1.5rem;
      left: 18rem;
      font-weight: 700;
    }
    .serch_itens{
      display: none;
      position: fixed;
      top:3.9rem;
      left:55.7rem;
      width: 30%;
      height: 4%;
      border-radius: 1.5rem;
    }
    .search{     
      border-radius: 1rem;    
      top: 4rem;
      left: 81.5rem;
      width: 3rem;
      height: 3rem;
    }
    .search img{
      width: 2rem;
      height: 2rem;
    }
    .logof{      
      top: 4rem;
      left: 82.5em;
      width: 4rem;
      height: 3rem;
      font-size: 1rem;
      font-weight: 900;
    }
    .share{   
      border-radius: 1rem;    
      top: 4rem;
      left: 82rem;
      width: 3rem;
      height: 3rem;    
    }
    .share img{
      width: 2rem;
      height: 2rem;
    }
    .submenu{  
      width: 100%;
      height: 7%;
      font-size: 1rem;
      font-weight: 600;
      top: 8.5rem;     
     
    }
    .opened{
      position: relative;
      right: 18rem;
      top: 1rem;
    }   
    .perfil_button{
      top: 1rem;
      font-weight: 800;
    }
    .fhatherScroll{
      display: none;      
    } 
    .name_list {
      height: 100vh;
      margin-top: 15rem;
      margin-bottom: -50rem;
    
    } 
    .name_list .name{
      top: 0rem;
      left:-15rem;
      font-size: 2rem;
      font-weight: 800;    
    }
   
    
    .intens{
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Duas colunas de igual largura */
      grid-template-rows: repeat(2, auto); /* Duas linhas com altura automática */
      gap: 0.5rem; /* Espaço entre os itens */
    }
    .all_product{
         
      left: 45rem;
    }
    .products{
      border: 0.3rem solid rgb(186, 186, 186);
      border-radius: 0.5rem;
      padding: 0.1rem;       
      width: 25rem;
      height: 8rem;   
      position: relative;
      left: -15rem; 
    }
    .discrition{
      font-size: 1.5rem;
      font-weight: 800;
    }
    .price{  
      font-size: 1.5rem;
      top:2rem;
      font-weight: 800;
    }
    .add_item{    
      width: 1rem;
      height: 1rem;    
      justify-content: center;
      align-items: center;
      border-radius: 0.3rem;     
      left: 20rem;
      top:-5rem;   
      cursor: pointer  
    }
    .add_item img{    
      top:0.8rem;
      left: 0rem;
    }  
    .add_shopping{
      position: relative;
      width: 1rem;
      display: flex;
      justify-content: center;
      border-radius: 0.3rem;
      top:-7rem;
      left: 23rem;  
      cursor: pointer; 
   
    }
    .add_item img{
      rotate:calc(45deg);
      width:1rem;
    }
    span .unity{
      top: 0.1rem;
      left: 1.12rem;
      width: 0.2rem;
      height: 0.3rem;    
      border-radius: 0.5rem;
    }
    .unity{    
      position: relative;
      font-size: 0.79rem;
      font-weight: 900;
    }
    .add_shopping img{
      width:1rem;
    }
    .image{
      position: relative;
      width: 6rem;
      height: 3.5rem;
      background-color:rgb(254, 165, 40);
      left: 10rem;
      top:-2rem;
      border-radius: 1rem;
    }
    .image img {
      position: relative;
      left: 0.5rem;
      width: 5rem;
      height: 8rem;
      border-radius: 1rem;
    }
   
    .footer{
      height: 7rem;
      width: 100%;    
      top: 57rem;
      z-index: 1000;
    }
    .buy_shopping{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.1rem;
      left: 100rem;
      top: 2rem;      
    }
    .home{
      width: 5rem;
      height: 5rem;
      border-radius: 0.1rem;
      left: 15rem;
      top: 1rem;   
    }
    
    
  }
   